.git
.github
.agents
.codex

target
build
out

.idea
.vscode
*.iml
*.iws
*.ipr

.gradle
node_modules
coverage

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

README.md
HELP.md
.prettierignore
.prettierrc.js
.tool-versions
